site_name: espnpy
site_description: High-performance, fully asynchronous Python wrapper for ESPN's undocumented APIs.
repo_url: https://github.com/alexkamer/espnpy
theme:
  name: material
  features:
    - navigation.tabs
    - navigation.instant
    - search.suggest
    - search.highlight
    - content.code.copy
  palette:
    # Automatic Dark/Light Mode Switcher
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
nav:
  - Home: index.md
  - Tutorials:
    - Getting Started: 01_getting_started.md
    - The League Proxy Engine: 02_league_proxies.md
    - Individual Sports (Tennis, F1, Golf): 08_individual_sports.md
  - Features:
    - Core Entities (Teams & Rosters): 03_entities.md
    - Advanced Data & Standings: 04_data_and_stats.md
    - Live Scoreboards & Boxscores: 05_live_action.md
    - Media & News Headlines: 06_news.md
  - Cheat Sheets:
    - Popular Leagues List: 07_popular_leagues.md
